%nav.top-bar 
  %ul.title-area
    %li.name
      %h1= link_to "Bug Archive", root_path
  %section.top-bar-section
    %ul.right
      %li= link_to "New", new_bug_path
      %li= link_to "Home", bugs_path
      %li= link_to "Logout"