%section.container
  %section.jumbotron
    %section.well
      %header
        %h1 Welcome to your personal Bug Archive.
        %h3
          = link_to "Register here", new_user_path
          or just
          = link_to "login to your account!", login_path
    