%section.container
  %section.jumbotron
    %section.well
      %header
        %h2 Your Search Results
      %section
        - @results.each do |bug|
          %article.well.inner
            = link_to bug.name, bug_path(bug)
