-if @concept
  :plain
    $("#item_#{@solution.id}").html("");
    $("#item_#{@solution.id}").append("#{escape_javascript(render :partial => 'concept', :locals => {:concept => @concept, :solution => @solution} )}");
-else
  :plain
    $("#item_#{@solution.id}").html("");



