/*GENERAL*/

body
{
	background: #033;
	font-family: 'Cagliostro', sans-serif;
}

#logo
{
	font-weight: bold;
}

#logo a:hover
{
	color: white;
}

#logo a
{
	color: #fc0;
}


.alert
{
	margin: 0 87px;
}

section.jumbotron
{
	background: #044;
	margin-top: 50px;
	color: #ccc;
}

.well
{
	background: #055;
	border: 1px solid #044;
}

.well.inner
{
	background: #066;
	border: 1px solid #055;
}

.well.inner-solution
{
	background: #066;
	border: 1px solid #055;
}

.well.core
{
	background: #077;
	border: 1px solid #066;
}

nav.navbar.navbar-inverse section.navbar-header h3
{
	/*margin-left: 50px;*/
	margin-top: 15px;
	margin-bottom: 15px;
}

nav.navbar.navbar-inverse section.navbar-header h3 a, a:hover
{
	text-decoration: none;
}


nav.navbar.navbar-inverse
{
	padding-right: 50px;
	padding-left: 50px;
	background: #066;
}

nav.navbar.navbar-inverse ul li a
{
	color: #fc0;
}

.nav.nav-tabs li a
{
	color: #fc0;
}

section
{
	overflow: auto;
}


.formspace
{
	width: 40%;
}

input.form-control
{
	margin: auto auto;
}

#bug_category_id, #bug_environment
{
	color: #444;
	width: 312px;
	height: 35px;
	border-radius: 5px;
}

#solution_concept_ids
{
	color: #444;
	width: 312px;
	border-radius: 5px;
}


table tr td 
{
	padding: 10px;
}

table th
{
	padding: 10px;
}

table.table-bordered
{
	border-radius: 5px;
}

.well.inner a, a i, h3 a, h6 a, td a
{
	color: #fc0;
}

.well.inner a:hover, a i:hover, h3 a:hover, h6 a:hover, td a:hover
{
	color: white;
}

.concepts section.well.core a i
{
	color: white;
}









