/*GENERAL*/
section.content{
	margin: 50px;
}

section #spacer{
	width: 100 %;
	height: 300px;
}

#maintitle{
	height: 60px;
	background: #333;
	z-index: 99;
}

#band {
    height: 60px;
    background: teal;
}

#maintitle a{
	color: #fff;
}

ul.right {
	margin: 20px;
}



/*BUG SHOW*/


.divided{
	margin-right: 30px;
}

.strong{
	font-weight: bold;
}


