%section.container
  %section.jumbotron
%header
  %h1 Bugs by Category
  %h4= @category.name
  - @category.bugs.each do |bug|
    %p
      = link_to bug.name, bug_path(bug)
      %br
      = bug.description