%section.container
  %section.jumbotron
    %section.well
      %header
        %h2= @category.name 
      %section
        - @category.bugs.each do |bug|
          %section.well.inner= link_to bug.name, bug_path(bug)